aacrgenie==16.3.0
certifi==2024.2.2
cffi==1.16.0
chardet==5.2.0
charset-normalizer==3.3.2
cryptography==42.0.5
Cython==3.0.10
Deprecated==1.2.14
httplib2==0.22.0
idna==3.7
importlib-metadata==4.13.0
jeepney==0.8.0
keyring==23.4.1
keyrings.alt==3.1
natsort==8.4.0
ncls==0.0.68
numpy==1.22.2
pandas==1.4.4
pycparser==2.22
pyparsing==3.1.2
pyranges==0.0.115
pyrle==0.0.40
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML==6.0.1
requests==2.31.0
SecretStorage==3.3.3
six==1.16.0
sorted-nearest==0.0.39
synapseclient==2.7.2
tabulate==0.9.0
urllib3==1.26.18
wrapt==1.16.0
zipp==3.18.1
